@font-face {
	font-family: 'Noto Color Emoji';
	src: url('NotoColorEmoji.ttf') format('truetype'); /* https://github.com/googlefonts/noto-emoji/raw/main/fonts/NotoColorEmoji.ttf */
	unicode-range: U+0100-10FFFF;
}

body {
	background-color: #111;
}

* {
	color: #ddd;
	font-family: 'Noto Color Emoji', 'Courier New', monospace;
}

.my-button {
	background-color: #3498db;
	border: none;
	border-radius: 4px;
	padding: 10px 20px;
	color: #fff;
	cursor: pointer;
}
