@font-face {
  font-family: 'Noto Color Emoji';
  src: url('NotoColorEmoji.ttf') format('truetype'); /* https://github.com/googlefonts/noto-emoji/raw/main/fonts/NotoColorEmoji.ttf */
}
* {
	font-family: 'Noto Color Emoji', sans-serif;
}
